html,body{
    display:flex;
    flex-direction:column;
    margin:0;
    box-sizing: border-box;
    font-family:helvetica,sans-serif,"Hero";

}

@font-face {
    font-family: Hero;
    src: url("./GoldleafBoldPersonalUseBold-eZ4dO.ttf") format("opentype");
}

/* HEADER  SECTION*/
.center-content{
    padding:40px 200px 40px;

}
.header{
    display:flex;
    flex-direction: column;
    background-color: #1f2937;
    color:white;
}

.nav ul{
    list-style-type: none;
    display:flex;
    padding-left:0;
}
.nav a{
    text-decoration: none;
    color:inherit;
}
.nav ul li{
    padding-right:44px;
}
.nav ul .last{
    padding-right: 0;
}
.push-right{
    margin-left:auto;
}
.header-body{
    display:flex;
    margin-top:80px;
    margin-bottom:100px;
    flex:1 0 auto ;

}
.header-body .left{
    width:50%;
    display:flex;
    flex-direction:column;
}
.header-body .left p{
    padding:10px 40px 20px 0;
}
.header-body .right{
    margin-left:auto;

}

.header-body .right img{
    display:block;
    width:422px;
}
.header-body .left button{
    margin:auto;
}

.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: helvetica,sans-serif,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.header-logo{
    font-size:24px;
    color:#f9faf8;
    font-weight:bold;
}
.header-body .left h2{
    font-size:32px;
    color:#f9faf8;
    font-weight:extra-bold;
}

/* BODY SECTION */
section.body{
    color:#1f2937;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}
.body h2{
    font-size:32px;
    font-weight:bold;
}
.body .container{
    display:flex;

}
.body .container{
    padding:20px 10x;

}
.container .card{
    display:flex;
    flex-direction:column;
    margin:30px;
    max-width:150px;
    height:auto;
}
.card .image{
    width:150px;
    height:150px;
    border:5px solid #405cf5;
    border-radius:10px;
    margin:10px 0;
}
.card .caption{
    color:#1f2927;
    font-size:18px;
    text-align:center;
}

/* QUOTE SECTION */

.quote {
    background:#e7e5eb;
    font-size:36px;
    opacity:0.9;
    font-weight:100 ;
    font-style:italic;
    color:#1f2937;
    display:flex;
    flex-direction:column;
}
.quote-text{
    max-width:810px;
    margin:0 auto;
}
.quote p{

    padding:10px;
}
p.author{
    max-width:810px;
    text-align:end;
    color:#1f2937;
    font-size:xx-large;
    font-weight:bold;
    font-style:normal;
    margin-left:auto;

}

/* SIGN-UP SECTION */



